html{
    scroll-behavior: smooth;
}
nav {
	margin: 27px auto 0;
	position: relative;
	width: 430px;
	height: 50px;
	background-color: #283746;
	border-radius: 20px;
	font-size: 0;
}
nav a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	line-height: 50px;
	height: 100%;
	font-size: 14px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 20px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 120px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #4acb41;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e1c053;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #e156d7;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 120px;
	left: 310px;
	background-color: #db748a;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 430px;
	background-color: #ef9343;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	/* background: #355270; */
}
h1 {
  font-family: "Lucida Console", "Courier New", monospace;
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 40px;
	color: #283746;
	text-shadow: 1px 1px 2px #5398a6;
}


span {
    color: #283746;
}

.Me{
    display: inline-block;
    /* text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
  }

  .addPadImg{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .socials{
    color: #283746;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    margin-left: auto; 
    font-size: 35px !important;
  }

  .Leo{
    color: #283746;
    text-decoration: underline;
    text-decoration-style: dotted;
  }

  .underline{
    text-decoration: underline;
    text-decoration-style: dotted;
    color: black;
    text-decoration-thickness: 1.5px;
  }

  .underlineSpec{
    text-decoration: underline;
    text-decoration-style: dotted;
    -webkit-animation:colorchange2 10s infinite alternate !important;
    text-decoration-thickness: 1.5px;
  }


  .AbMe{
    padding-left: 10px;
    color: black;
    font-size: 16px;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .newHeading{
    font-weight: bold;
    color: #283746;
    font-size: 24px;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .newHeading1{
    font-weight: bold;
    color: #283746;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .newSection{
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
  }

  .gridHeading{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
  }

  .gridBody{
    font-weight: 100;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    text-align: left;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
  }
  
  .grid-container div{
    color: rgba(128, 128, 128, 0.8);
    background-color: transparent;
    border: 2px solid rgba(128, 128, 128, 0.8);
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
  }

  .underline1{
    text-decoration: underline;
    text-decoration-style: dotted;
    color: rgba(255, 255, 255, 0.8);
    text-decoration-thickness: 1.5px;
  }

  @media screen and (max-width: 900px) {
    .grid-container {
      grid-template-columns: auto;
    }
  }

  .grid-container div:hover{
    color: black !important;
    border-color: #283746;
    background-color: white;
    -webkit-animation:colorchange 20s infinite alternate;
  }



  .awesome {
    -webkit-animation:colorchange 10s infinite alternate;
  }

  @-webkit-keyframes colorchange {
    0% {
      border-color: #4acb41;
    }
    10% {
      border-color: #e1c053;
    }
    20% {
      border-color: #e156d7;
    }
    30% {
      border-color: #db748a;
    }
    
    40% {
      border-color: #ef9343;
    }
    50% {
      border-color: #4acb41;
    }
    60% {
      border-color: #e1c053;
    }
    70% {
      border-color: #e156d7;
    }
    80% {
      border-color: #db748a;
    }
    
    90% {
      border-color: #ef9343;
    }
    100% {
      border-color: #4acb41;
    }
  }

.color{
  text-align: right;
  font-size: 35px;
  transition: transform .3s; 
  color: #283746;
}

.color:hover{
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
  font-size: 35px;
  -webkit-animation:colorchange1 10s infinite alternate;
}

@-webkit-keyframes colorchange1 {
  0% {
    color: #4acb41;
  }
  10% {
    color: #e1c053;
  }
  20% {
    color: #e156d7;
  }
  30% {
    color: #db748a;
  }
  
  40% {
    color: #ef9343;
  }
  50% {
    color: #4acb41;
  }
  60% {
    color: #e1c053;
  }
  70% {
    color: #e156d7;
  }
  80% {
    color: #db748a;
  }
  
  90% {
    color: #ef9343;
  }
  100% {
    color: #4acb41;
  }
}

@-webkit-keyframes colorchange2 {
    0% {
      color: #4acb41;
    }
    10% {
      color: #e1c053;
    }
    20% {
      color: #e156d7;
    }
    30% {
      color: #db748a;
    }
    
    40% {
      color: #ef9343;
    }
    50% {
      color: #4acb41;
    }
    60% {
      color: #e1c053;
    }
    70% {
      color: #e156d7;
    }
    80% {
      color: #db748a;
    }
    
    90% {
      color: #ef9343;
    }
    100% {
      color: #4acb41;
    }
  }
.color1{
  text-align: right;
  transition: transform .3s; 
  color: #283746;
}

.color1:hover{
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
  font-size: 35px;
  -webkit-animation:colorchange1 10s infinite alternate;
}

.color2{
  transition: transform .3s; 
  text-align: right;
  color: #283746;
}
.color2:hover{
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
  font-size: 35px;
  -webkit-animation:colorchange1 10s infinite alternate;
}

.color3{
  transition: transform .3s; 
  text-align: right;
  color: #283746;
}
.color3:hover{
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
  font-size: 35px;
  -webkit-animation:colorchange1 10s infinite alternate;
}   

a{
  border-radius: 3px;
  text-decoration: none;
}

a:hover{
  color: black;
}

.hide {
  display: none;
}
    
.myDIV:hover + .hide {
  display: block;
  color: red;
}

.date{
    font-family: "Lucida Console", "Courier New", monospace;
    padding-left: 10px;
    font-size: 13px;
    color: grey;
}

.highlight{
    color: rgb(13, 49, 6);
    border-radius: 3px;
    background-color: #899098a4;
}

.responsive{
    width: 35%;
    height: auto;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    border-radius: 10px;
    padding: 3px;
    border: 1px solid #283746;
}